<div class="jumbotron">
    <img src="images/covalence-store-apparel-hero.jpg" alt="Covalence Apperal" class="product-hero">
</div>
<div class="container-fluid">
     <div class="row line-line"> 
        <div class="col-xs-12 col-md-4 col-sm-6" ng-repeat="product in Products">
            <div class="center-block products">
                <a href="/{{ product.id }}"><img src="{{ product.imageURL }}" class="thumbnail product-thumbnail product img-responsive" alt="{{ product.title }}"></a>
                <a href="/{{ product.id }}"><div class="grid-market">
                    <h4 class="description">{{ product.title }}
                <span class="currency">${{ product.price }}</span></h4></div></a>
            </div>
        </div>
     </div> 
</div>